/**********header-style*****/
header{
    width: 100%;
    background-color: var(--header--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem  1.5rem;
    color: #fff;
    font-weight: 200;
}
.convert_farsi_parent{
    position: relative;
   width: 80px;
   height: 25px;
   background-color: aliceblue;
    border-radius: 100px;
   display: flex;
   justify-content: space-between;
   padding:5px;
   cursor: pointer;
   color: #6b6565;
}
.convert_farsi_parent::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    left: 5px;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    opacity: .5;
    transition: all .3s ;

}
.convert_farsi_parent.active::before{
   left:65%;

}
/****container************/

.swiper {
    width: 350px;
    height: 500px;
    margin: 5rem auto;
    background-color: #b5c99a;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
    
}
.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;

}
.swiper-slide .clock{
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-slide .clock::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 10;
   
}
.swiper-slide .clock span{
    position: absolute;
    color: #fff;
    text-align: center;
    transform: rotate(calc(var(--i) * 30deg))   
        translate(0, -130px)            
        rotate(calc(-1 * var(--i) * 30deg));

}
.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: 50% 100%;
}

.hour-hand {
 width: 4px;
 height: 60px; 
 background: black; 
}
.minute-hand { 
width: 3px; 
height: 80px;
 background: black;
 }
.second-hand { 
width: 1px;
height: 90px; 
background: red;
 }
 /*****************digital_watch************/
 .digital_watch{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: #fff;
 }
.digital_watch .digital-hour{
    width: 70px;
    height: 70px;
    padding: 1.5rem;
    background-color: #31572c;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.digital_watch span{
    font-size: 2rem;
}